<html>

<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!-- <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" /> -->

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

    <!-- icons -->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->


    <style type="text/css">
        .input-field input[type]:not([readonly]),
        .input-field input[type]:focus:not([readonly]),
        .input-field textarea:not([readonly]),
        .input-field textarea:focus:not([readonly]) {
            border-bottom: 1px solid #ffff00;
            box-shadow: 0 1px 0 0 #ffff00;
        }

        .input-field input[type]:focus:not([readonly])+label,
        .input-field textarea:focus:not([readonly])+label {
            color: #ffff00;
        }

        /* label focus color */
        .input-field input[type=text]:focus+label,
        .materialize-textarea:focus:not([readonly])+label {
            color: #ffff00 !important;
        }

        /* label underline focus color */
        .input-field input[type=text]:focus,
        .materialize-textarea:focus:not([readonly]) {
            border-bottom: 1px solid #ffff00 !important;
            box-shadow: 0 1px 0 0 #ffff00 !important;
        }

        .input-field input[type=text]+label,
        .materialize-textarea:focus:not([readonly])+label {
            color: #ffff00 !important;
        }

        .input-field input[type=text],
        .materialize-textarea:focus:not([readonly]) {
            border-bottom: 1px solid #ffff00 !important;
            box-shadow: 0 1px 0 0 #ffff00 !important;
        }


        .input-field input[type=text]:focus+label,
        .materialize-textarea:focus:not([readonly])+label {
            color: #ffff00 !important;
        }

        .input-field input[type=text]:focus,
        .materialize-textarea:focus:not([readonly]) {
            border-bottom: 1px solid #ffff00 !important;
            box-shadow: 0 1px 0 0 #ffff00 !important;
        }
    </style>
</head>

<div class="#212121 grey darken-4">

    <nav class="#3e2723 brown darken-4">
        <div class="nav-wrapper">
            <h3 class="brand-logo left"> <a href="/" style="color: #ffff00;">Health<span>Care</span></a></h3>
            <ul id="nav-mobile" class="right">
                <li><a href="/" style="color: #ffff00;">Liver Disease</a></li>
            </ul>
        </div>
    </nav>


    <div class="slider">

        <ul class="slides">
            <li>
                <img src="https://wallpaperaccess.com/full/505733.jpg"> <!-- random image -->
                <div class="caption center-align">
                    <!-- <h3>This is our big Tagline!</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5> -->
                </div>
            </li>
            <li>
                <img src="https://www.saveyourliverlimited.com/en/images/liver.jpg"> <!-- random image -->
                <div class="caption right-align">
                    <h3>Liver Disease</h3>
                    <h5 class="light grey-text text-lighten-3">The third biggest cause of premature death</h5>
                    <h6>Most people with liver disease die aged between 18 to 65 years.</h6>
                </div>
            </li>
            <li>
                <img
                    src="https://www.hawaiipacifichealth.org/media/10281/what-is-non-alcoholic-fatty-liver-disease-web.jpg">
                <!-- random image -->
                <div class="caption left-align">
                    <h4>Only Organ </h4>
                    <h4>that can </h4>
                    <h4>completely Regenerate</h4>
                </div>
            </li>
            <li>
                <img
                    src="https://c4.wallpaperflare.com/wallpaper/675/514/385/portal-hd-precaution-signages-wallpaper-preview.jpg">
                <!-- random image -->
                <div class="caption left-align">
                    <h3>Early Symptoms</h3>
                    <h6>1) Jaundice </h6>
                    <h6>2) pain</h6>
                    <h6>3) Chronic fatigue</p>
                        <h6>4) Nausea </h6>
                        <h6>5) Decreased appetite</h6>
                </div>
                <!-- <div class="caption center-align">
                    <h3>This is our big Tagline!</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div> -->
            </li>
        </ul>
    </div>


    <script>

    </script>
    <div class="row " style="display: flex;flex-wrap: wrap;">

        <div class="col s10 ">
            <form id="liverform">
                <h4 style="color: #ffff00;" class="center-align">Get Test Results</h4>
                <div style="display: flex;">
                    <div class="input-field col s6 ">
                        <input placeholder="Enter Age" id="Age" type="text" class="validate" autocomplete="off"
                            style="color: blanchedalmond;">
                        <label for="Age">Age</label>
                    </div>

                    <!-- <div class="input-field col s6">
                        <select id="Gender">
                            <option value="1" selected style="color: blanchedalmond;">Male</option>
                            <option value="0" style="color: blanchedalmond;">Female</option>
                        </select>
                        <label for="Gender">Gender</label>
                    </div> -->
                    <div class="input-field col s6 ">
                        <input placeholder="Gender" id="Gender" type="text" class="validate" autocomplete="off"
                            value="male" style="color: blanchedalmond;">
                        <label for="Gender">Gender</label>
                    </div>

                </div>

                <div style="display: flex;">
                    <div class="input-field col s6">
                        <input placeholder="Total Bilirubin" id="Total_Bilirubin" type="text" class="validate"
                            autocomplete="off" style="color: blanchedalmond;">
                        <label for="from">Total Bilirubin</label>
                    </div>

                    <div class="input-field col s6">
                        <input placeholder="Direct Bilirubin" id="Direct_Bilirubin" type="text" class="validate"
                            autocomplete="off" style="color: blanchedalmond;">
                        <label for="from">Direct Bilirubin</label>
                    </div>
                </div>
                <div style="display: flex;">
                    <div class="input-field col s6">
                        <input placeholder="Enter ALP" id="Alkaline_Phosphotase" type="text" class="validate"
                            autocomplete="off" style="color: blanchedalmond;">
                        <label for="from">Alkaline Phosphotase</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Enter ALT" id="Alamine_Aminotransferase" type="text" class="validate"
                            autocomplete="off" style="color: blanchedalmond;">
                        <label for="from">Alamine Aminotransferase</label>
                    </div>
                </div>

                <div style="display: flex;">
                    <div class="input-field col s6">
                        <input placeholder="Enter AST" id="Aspartate_Aminotransferase" type="text" class="validate"
                            autocomplete="off" style="color: blanchedalmond;">
                        <label for="from">Aspartate Aminotransferase</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Total Protiens" id="Total_Protiens" type="text" class="validate"
                            autocomplete="off" style="color: blanchedalmond;">
                        <label for="from">Total Protiens</label>
                    </div>
                </div>

                <div style="display: flex;">
                    <div class="input-field col s6">
                        <input placeholder="enter Albumin" id="Albumin" type="text" class="validate" autocomplete="off"
                            style="color: blanchedalmond;">
                        <label for="from">Albumin</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Albumin/Globulin" id="Albumin_and_Globulin_Ratio" type="text"
                            class="validate" autocomplete="off" style="color: blanchedalmond;">
                        <label for="from">Albumin and Globulin Ratio</label>
                    </div>
                </div>


                <div class="row center-align">
                    <button class="btn waves-effect waves-light" type="submit" name="action"
                        style="background-color: #ffff00; color: black;">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                <div class="row center-align">
                    <h6 style="color: #ff6e40;" id="respon">

                    </h6>
                </div>
            </form>


        </div>
        <div class="col s2" style="background-image: url(https://videohive.img.customer.envatousercontent.com/files/ccea21f3-d9b8-48df-af57-15337068da03/inline_image_preview.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=a99920f838c7e2b563b508a0e9ffa828); ">
            <!-- Teal page content  -->
            <div>
                <!--
                <h5 style="color: #bcaaa4;">Liver Diseases:</h5>
                <ol style="color: #bcaaa4;">
                    <li>
                        <p style="color: #bcaaa4;"><b>Hepatitis:</b> Hepatitis is the name given to a general infection
                            of the liver, and viruses, toxins, or an autoimmune response can cause it.
                            It is characterized by an inflamed liver.
                            In many cases, the liver can heal itself, but liver failure can occur in severe cases.</p>
                    </li>
                    <li>
                        <p style="color: #bcaaa4;"><b>Cirrhosis:</b> This sees scar tissue replace liver cells in a
                            process known as fibrosis.
                            This condition can be caused by a number of factors, including toxins, alcohol, and
                            hepatitis. Eventually,
                            fibrosis can lead to liver failure as the functionality of the liver cells is destroyed.
                        </p>
                    </li>
                    <li>
                        <p style="color: #bcaaa4;"><b>Fascioliasis:</b> This is caused by the parasitic invasion of a
                            parasitic worm known as a liver fluke,
                            which can lie dormant in the liver for months or even years.
                            Fascioliasis is considered a tropical disease.
                        </p>
                    </li>
                    <li>
                        <p style="color: #bcaaa4;"><b>Alcoholic liver disease:</b> Drinking too much alcohol over long
                            periods of time can cause liver damage.
                            It is the most common cause of cirrhosis in the world.
                        </p>
                    </li>
                    <li>
                        <p style="color: #bcaaa4;"><b>Primary sclerosing cholangitis (PSC):</b> PSC is a serious
                            inflammatory disease of the bile ducts that results in their destruction.
                            There is currently no cure, and the cause is currently unknown, although the condition is
                            thought to be autoimmune.
                        </p>
                    </li>
                    <li>
                        <p style="color: #bcaaa4;"><b>Fatty liver disease:</b> This usually occurs alongside obesity or
                            alcohol abuse.
                            In fatty liver disease, vacuoles of fat build up in the liver cells. If it is not caused by
                            alcohol abuse,
                            the condition is called non-alcoholic fatty liver disease (NAFLD).
                        </p>
                         <p>
                            It is usually caused by genetics, medications, or a diet high in fructose sugar. 
                            It is the most common liver disorder in developed countries and has been associated with insulin resistance. 
                            Non-alcoholic steatohepatitis (NASH) is a condition that can develop if NAFLD gets worse. NASH is a known cause of liver cirrhosis.
                        </p>
                    </li>
                    <li>
                        <p style="color: #bcaaa4;"><b>Gilbert’s syndrome:</b> This is a genetic disorder affecting 3 to
                            12 percent of the population.
                            Bilirubin is not fully broken down.
                            Mild jaundice can occur, but the disorder is harmless.
                        </p>
                    </li>
                    <li>
                        <p style="color: #bcaaa4;"><b>Liver cancer:</b>
                            The most common types of liver cancer are hepatocellular carcinoma and cholangiocarcinoma.
                            The leading causes are alcohol and hepatitis. It is the sixth most common form of cancer and
                            the second most frequent cause of cancer death.
                        </p>
                    </li>
                </ol> -->
            </div>
        </div>

    </div>
    <script>

        $(document).ready(function () {
            $('.slider').slider();
        });
    </script>

    @section scripts{
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
        $('select').formSelect();

        $('.parallax').parallax();

    </script>
    }
    <footer class="page-footer #757575 grey darken-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Health Care</h5>
                    <!-- You have to fill information here -->
                    <p class="grey-text text-lighten-4">Comprehensive liver damage prediction system. We are here to
                        help you with right approach
                        for your Liver disease</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Contact</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3">sumukhamohan6@gmail.com</a></li>
                        <li><a class="grey-text text-lighten-3">pradeepchagnur@gmail.com</a></li>
                        <li><a class="grey-text text-lighten-3">priyanka@gmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                PES University
                <a class="grey-text text-lighten-4 right" href="#!">Hepatitis and Liver Project</a>
            </div>
        </div>
    </footer>


    <script type="text/javascript">

        $(function () {

            $('#liverform').on('submit', function (event) {

                event.preventDefault();
                var Age = $("#Age").val();
                var Gender = $("#Gender").val();
                var Total_Bilirubin = $("#Total_Bilirubin").val();
                var Direct_Bilirubin = $("#Direct_Bilirubin").val();
                var Alkaline_Phosphotase = $("#Alkaline_Phosphotase").val();
                var Alamine_Aminotransferase = $("#Alamine_Aminotransferase").val();
                var Aspartate_Aminotransferase = $("#Aspartate_Aminotransferase").val();
                var Total_Protiens = $("#Total_Protiens").val();
                var Albumin = $("#Albumin").val();
                var Albumin_and_Globulin_Ratio = $("#Albumin_and_Globulin_Ratio").val();
                let backendCall = true;
                if (Gender && (Gender.toLowerCase() === "male" || Gender.toLowerCase() === "female")) {
                    Gender = Gender.toLowerCase() === "male" ? 1 : 0;
                } else {
                    $("#respon").text(Gender + " is not a valid Gender");
                    backendCall = false;
                }

                var req = JSON.stringify({
                    "Age": Age,
                    "Gender": Gender,
                    "Total_Bilirubin": Total_Bilirubin,
                    "Direct_Bilirubin": Direct_Bilirubin,
                    "Alkaline_Phosphotase": Alkaline_Phosphotase,
                    "Alamine_Aminotransferase": Alamine_Aminotransferase,
                    "Aspartate_Aminotransferase": Aspartate_Aminotransferase,
                    "Total_Protiens": Total_Protiens,
                    "Albumin": Albumin,
                    "Albumin_and_Globulin_Ratio": Albumin_and_Globulin_Ratio
                });
                const parsedReq = JSON.parse(req);

                for (i in parsedReq) {
                    if (parsedReq[i] === "") {
                        $("#respon").text("please enter " + i);
                        backendCall = false;
                        return;
                    }
                    if (i !== "Gender" && !parseFloat(parsedReq[i])) {
                        $("#respon").text(i + " should be numeric");
                        backendCall = false;
                        return;
                    }
                }


                // console.log(req);
                if (backendCall) {
                    $.ajax({
                        url: "/liver",
                        method: "POST",
                        contentType: "application/json",
                        data: req,
                        success: function (response) {
                            $("#respon").text(response);
                        }
                    })
                }
            });
        });  
    </script>


    </body>

</html>